<ul id="lists">
  <% sort_lists(@lists) do |list, index| %>
    <% if list_completed?(list[:todos]) %>
      <li class="<%= list_class(list) %>">
    <% else %>
      <li>
    <% end %>
        <a>
          <h2><a href="lists/<%= index %>"><%=list[:name]%></a> </h2>
          <p><%= todos_remaining(list) %>/<%= todos_count(list) %></p>
        </a>
      </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a class="add" href="/lists/new">New List</a>
<% end %>